/* -----------------------------------------------------------------
## Custom CSS
----------------------------------------------------------------- */
/* Add here all your CSS customizations */

.entry-teaser{
    color: #000;
}
.post--single .single-body{
    line-height: 1.5;
}
.single-body p{
    margin-bottom: 12px;
}
.comment-author{
    display: block;
}
.bypostauthor > .comment-body .comment-author > img{
    border: none
}
.children .comment-author > img{
    width: 45px;
    height: 45px;
}
.home-3 .mobile-header, .home-3 .navigation-bar,
.site-header--skin-2 .navigation-bar, .site-header--skin-2 .mobile-header {
    background: #ff6a00;
    background: -webkit-linear-gradient(-495deg, #ff6a00 0, #E90606 100%);
    /* background: linear-gradient(225deg, #ee0979 0, #ff6a00 100%); */
}

.nav-account > li > a{
    text-transform: none;
    font-weight: normal
}
.nav-tabs {
    border-bottom: none;
    text-align: center;
}
.nav-tabs li {
    margin-bottom: 5px;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
    border-color: transparent;
    border-bottom: 2px solid #4798e8;
}
.nav-tabs>li>a:hover{
    border-color: transparent;
    background: transparent !important;
}
.card {
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e9ecef;
    border-radius: 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
.profiletimeline {
    position: relative;
    padding-left: 40px;
    margin: 40px 10px 0 30px;
    border-left: 1px solid #e9ecef;
}
.profiletimeline .sl-left {
    float: left;
    margin-left: -60px;
    z-index: 1;
    margin-right: 15px;
}
.profiletimeline .sl-left img, .steamline .sl-left img {
    max-width: 40px;
}
.col-form-label, .custom-control-label{
    font-weight: normal
}
.form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}
input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.btn-group-toggle>.btn, .btn-group-toggle>.btn-group>.btn, .custom-control-label, .custom-file, .dropdown-header, .input-group-text, .nav {
    margin-bottom: 0;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 2px; }
  
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
background-color: #4798e8; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
background-color: #4798e8; }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E"); }

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
background-color: rgba(116, 96, 238, 0.5); }

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
background-color: rgba(116, 96, 238, 0.5); }


.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #4798e8;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #4798e8;
}
.custom-radio .custom-control-label::before {
    border-radius: 50%;
}
.custom-control-label::before {
    pointer-events: none;
    user-select: none;
    background-color: #dee2e6;
}
.custom-control-label::after, .custom-control-label::before {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    left: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}
.custom-control-label::after, .custom-control-label::before {
    top: .15rem;
}
.custom-control-label::after {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-control-label::after, .custom-control-label::before {
    top: .15rem;
}
.form-control, .form-control:hover, .form-control:focus {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 100%;
    /* padding: .375rem .75rem; */
    /* font-size: .875rem; */
    /* line-height: 1.5; */
    color: #4f5467;
    background-color: #fff;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: none !important;
    outline: none;
}
.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    text-align: center;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

article.post--horizontal-sm img{
    max-height: 200px;
}
.post--overlay .post__text-wrap{
    align-self: flex-end;
}
.post--overlay.has-score-badge-bottom .post__text{
    padding-bottom: 10px;
}

.block-heading__title{
    font-size: 20px !important;
    color: #FC3C2D;

}
.post__cat--bg, a.post__cat--bg, .entry-cat--bg, a.entry-cat--bg{
    display: none
}
.post--single .single-body{
    color: rgba(0, 0, 0, 0.8);
}
.post__title.typescale-1, .entry-title.typescale-1,
.post__title.typescale-0, .entry-title.typescale-0{
    font-weight: bold;
}
@media (min-width: 1200px){
    .post--single .single-body {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (min-width: 992px){
    .single-header .entry-title {
        font-size: 2.052rem;
        line-height: 1.2;
    }
}

@media (min-width: 768px){
    .single-header .entry-title {
        font-size: 1.986rem;
        line-height: 1.2;
    }
    .page-heading--has-background{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 767px){
    .single-header .entry-title {
        font-size: 1.5rem;
        line-height: 1.2;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
     }
    .post--vertical .post__thumb{
        width: 30%;
        display: inline-block;
        margin-right: 3%;
        float: left;
    }
    .post--vertical .post__text{
        display: inline-block;
        width: 67%;
    }
    .list-space-xs li article{
        position: relative;
    }
    .list-space-xs article .post__thumb{
        display: none;
    }
    .list-space-xs article .post__text{
        width: 100%;
    }
    .list-space-xs article .post__meta{
        display: none;
    }
    .list-square-bullet-exclude-first > li > *{
        padding-left: 15px;
    }
    .list-square-bullet-exclude-first > li > *:before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 0.58em;
        right: auto;
        bottom: auto;
        left: 0;
        background: rgba(0, 0, 0, 0.1);
    }
    /* .site-header--side-logo .header-logo:not(.header-logo--mobile),  */
    .list-square-bullet > li > *:before, 
    .list-square-bullet-exclude-first > li > *:before, 
    .mnmd-carousel-dots-b .swiper-pagination-bullet-active {
        background: #FC3C2D;
    }
    .typescale-1{
        font-size: 1rem;
    }
    .typescale-3{
        font-size: 1.2rem;
    }
    .spacer-sm{
        height: 10px;
    }
    [class*="list-seperated"].list-space-md > *{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .row--space-between > [class*='col-']{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mnmd-block{
        margin-bottom: 20px;
    }
    .block-heading__title{
        font-size: 18px !important; 
    }
    .mnmd-mosaic .mosaic-item--half .post--overlay{
        background-color: #fff;
    }
    .mnmd-mosaic .mosaic-item--half .post--overlay .background-img{
        width: 40%;
        background-size: auto 100% ;
        background-position: top center;
        background-color: #fff;
        box-shadow: none;
    }
    .mnmd-mosaic .mosaic-item--half .post--overlay .post__text{
        padding-left: 41%;
        padding-top: 0;
    }
    .mnmd-mosaic .mosaic-item--half .post--overlay .post__text-wrap{
        align-self: flex-start;
    }
    .mnmd-mosaic .mosaic-item--half .post--overlay-floorfade .post__text-wrap:before{
        background: none;
    }
    .mnmd-mosaic .mosaic-item--half .inverse-text .post__title a{
        color: #000 !important;
        font-size: 18px;
        font-weight: bold;
    }
    .mnmd-mosaic .mosaic-item .post--overlay .post__text{
        min-height: 120px;
    }
    .mnmd-mosaic .mosaic-item--half .inverse-text .post__excerpt{
        /* display: block !important; */
        color: #000;
    }
    .mnmd-mosaic .mosaic-item--half .inverse-text .post__text-inner{
        padding: 15px;
    }
    .mnmd-mosaic .mosaic-item--half  .post--overlay .post-type-icon{
        position: absolute;
        right: 100%;
        top: 0;
    }
    .mnmd-mosaic .mosaic-item--half  .post--overlay .gallery-icon{
        right: 60%;
        top: 0;
    }
}
@media (max-width: 600px){
    .mnmd-mosaic .mosaic-item .post--overlay .post__text{
        min-height: 110px;
    }
}
@media (max-width: 480px){
    .mnmd-block.has-overlap-background{
        padding-top: 15px;
    }
    .mnmd-mosaic .mosaic-item--half .inverse-text .post__title a{
        font-size: 14px;
    }
    .mnmd-mosaic .mosaic-item .post--overlay .post__text{
        min-height: 120px;
    }
    .mnmd-mosaic .mosaic-item--half .inverse-text .post__text-inner{
        padding: 10px;
    }
    .mnmd-mosaic .mosaic-item:first-child .post--overlay .post__text{
        min-height: 230px;
    }
}
@media (max-width: 375px){
    .mnmd-mosaic .mosaic-item .post--overlay .post__text{
        min-height: 100px;
    }
    .mnmd-mosaic .mosaic-item--half .inverse-text .post__title a{
        font-size: 13px;
    }
}
@media (max-width: 320px){
    .mnmd-mosaic .mosaic-item .post--overlay .post__text{
        min-height: 80px;
    }
    .mnmd-mosaic .mosaic-item--half .inverse-text .post__title a{
        font-size: 12px;
    }
}

  